NODE_ENV=production
DATABASE_URL=postgresql://USER:PASSWORD@HOST:6432/menarium_db?schema=public&sslmode=require
NEXTAUTH_URL=https://menarium.ru
NEXTAUTH_SECRET=replace_with_long_random_secret

# Заполните только если используете Object Storage
STORAGE_ENDPOINT=https://storage.yandexcloud.net
STORAGE_BUCKET=menarium-prod
STORAGE_REGION=ru-central1
STORAGE_ACCESS_KEY_ID=replace_me
STORAGE_SECRET_ACCESS_KEY=replace_me
